@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Index";
}
<h2>Customers</h2>
<br />
@Html.ActionLink("New Customer","CustomerForm" , null , new { @class = "btn btn-primary" })

@if (!Model.Any())
{
    <h2>No Customer now</h2>
}
else
{
    <table class="table table-bordered table-hover " style="width: 100%;">
        <thead>
            <tr>
                <th scope="col">
                    Customer
                </th>
                <th scope="col">
                    Membershipt Type
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
            <tr class="table-active">
                <td>
                    @Html.ActionLink(customer.Name, "ViewEdit", new { customer.Id })
                </td>
                <td>
                    @customer.MembershipType.Name
                </td>
            </tr>
            }
                
            </tbody>
    </table>

}